<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.canonical_url }}" />

<meta name="google-site-verification" content="r0aMY3vnRfsOLAdhsLjJaIRnTSkUV90u0d0DsODO6G8" />